*{
	font-family: JetBrainsMono Nerd Font Mono;
	font-size: 16px;
	border-radius: 3px;
	padding: 0px;
	background: transparent;
}

window#waybar {
	background-image: linear-gradient(to bottom, #232a2e 100%);
	border-bottom: 3px solid #A7C080;
	/*border-top: 3px solid #A7C080;*/
	padding: 0px;
}

#workspaces,
#window,
#clock,
#pulseaudio,
#tray,
#lock,
#power {
	background-image: linear-gradient(to bottom, #323d43 100%);
	margin: 3px 6px 7px 6px;
	margin-right: 0px;
	padding: 2px 8px;
	color: #D3C6AA;

	border-style: none;
	transition-duration: 120ms;

}

#pulseaudio:hover {
	background-image: linear-gradient(to bottom, #E69875 100%);
	transition-duration: 120ms;
	color: #2D353B;
}

#clock:hover {
	background-image: linear-gradient(to bottom, #D699B6 100%);
	transition-duration: 120ms;
	color: #2D353B;
}

#tray menu {
	padding: 4px;
	color: #D3C6AA;
	background-color: #2D353B;
}

#tray menu menuitem {
	color: #D3C6AA;
	background-image: linear-gradient(to bottom, #323d43 100%);
	margin: 3px;
	border-style:solid;
	border-color: #374145;
	border-radius: 3px;
	border-width: 2px;
}

#tray menu menuitem:hover {
	background-image: linear-gradient(to bottom, #323d43 100%);
	font-weight:bold;
	color: #83C092;
}

#workspaces button {
	all: initial;
	transition-duration: 100ms;
	color: #D3C6AA;
	font-weight: bold;
	margin-right: 0.2cm;
	margin-left: 0.2cm;
}

#workspaces button.urgent {
	color: #E67E80;
}

#workspaces button.active {
	color: #83C092;
	font-weight: bold;
}

#workspaces button:hover {
	transition-duration: 120ms;
	color: #7FBBB3;
}

#clock {
	margin-right: 6px;
}
